.photo-grid{
   min-width: 1184px;
   padding: 0 48px;
   display: grid;
   grid-template-columns: repeat(4, minmax(min-content, max-content));
   gap: 16px;
   padding-bottom: 92px;
}

@media(max-width:1279px){
   .photo-grid{
      min-width: 928px;
      grid-template-columns: repeat(3, minmax(min-content, max-content));
      gap: 14px;
   }
}

@media(max-width:1023px){
   .photo-grid{
      min-width: 720px;
      grid-template-columns: repeat(2, minmax(min-content, max-content));
      gap: 16px;
      padding: 0 24px;
      padding-bottom: 88px;
   }
}

@media(max-width:767px){
   .photo-grid{
      min-width: 288px;
      grid-template-columns: minmax(min-content, max-content);
      padding: 0 16px;
      gap:12px;
      padding-bottom: 64px;
   }
}
