.lead{
   width: 984px;
   padding: 52px 0 0;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   align-content: center;
   padding-bottom: 96px;

}

@media(max-width:1279px){
   .lead{
      padding: 0 48px;
   }
}

@media(max-width:1023px){
   .lead{
      max-width: 100%;
      padding: 0;
      padding-bottom: 88px;
   }
}

@media(max-width:767px){
   .lead{
      max-width:100%;
      padding-bottom: 64px;
   }
}
