.lead {
  width: 984px;
  margin: 0 auto 96px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

@media (max-width: 1160px) {
  .lead {
    max-width: calc(100% - 48px * 2);
  }
}
@media (max-width: 840px) {
  .lead {
    max-width: 100%;
  }
}

@media(max-width: 767px){
  .lead{
    margin-bottom: 64px;
  }
}
