.cover__subtitle{
   font-style: normal;
   line-height: 22px;
   font-weight: 400;
   max-width: 360px;
   margin: 0;
   text-align: center;
}

@media (max-width:767px) {
   .cover__subtitle{
      font-style: normal;
      line-height: 16px;
      font-weight: 400;
      max-width: 288px;
      padding-bottom: 33px;
   }
}