.place__pharagraph {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  color: #fff;
  grid-row: 2;
  margin: 0 0 25px;
  padding: 0;
}
.place__pharagraph:last-child {
  margin: 0 auto;
}
@media (max-width: 840px) {
  .place__pharagraph {
    font-size: 16px;
  }
}
@media (max-width: 620px) {
  .place__pharagraph {
    margin: 0 auto;
    grid-row: 3;
    grid-column: 1;
    width: calc(100vw - 16px * 2);
  }
}
