.cover {
  padding: 0 48px;
  padding-bottom: 92px;
  padding-top: 92px;
}

@media (max-width: 1279px) {
  .cover {
    padding: 0;
    padding-bottom: 92px;
    padding-top: 92px;
    width: 100%;
  }
}

@media (max-width: 1023px) {
  .cover {
    padding-bottom: 88px;
    padding-top: 90px;
  }
}

@media (max-width: 767px) {
  .cover {
    min-height: 200px;
    padding-top: 66px;
    padding-bottom: 64px;
  }
}
