.header__container{
   min-width: 1184px;
   min-height: 52px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding: 0 48px;
   padding-top: 28px;
   padding-bottom: 56px;
}

@media(max-width:1279px){
   .header__container{
      min-width: 928px;
      min-height: 52px;  
      padding-bottom: 48px;
   }
}

@media(max-width:1023px){
   .header__container{
      min-width: 720px;
      min-height: 52px;
      padding: 0 24px;
   }
}

@media(max-width:767px){
   .header__container{
      min-width: 288px;
      min-height: 42px;
      padding: 0 16px;
      padding-top: 16px;
      padding-bottom: 48px;
   }
}