.footer{
   padding: 0 48px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   min-height: 18px;
}

@media (max-width:767px) {
   .footer {
      padding: 0;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      min-width: 186px;
      min-height: 310px ;
   }
}

